<li>
    <div class="zoom-trap">
        <img data-amp-src="{{image.src}}?{{templates.main}}{{locale.second}}"
            data-amp-srcset="{{image.src}}?{{templates.main}}{{locale.second}} 1x, {{image.src}}?{{templates.mainRetina}}{{locale.second}} 2x"
            class="amp-main-img inner-element">
    </div>
</li>
