<div class="desktop-normal-view {{#if view}}amp-{{view}}-view{{/if}}">
    <div class="main-container">
        <div class="multiple">
            {{renderPartial 'main-container-list' items=items templates=templates locale=locale}}
            <div class="tooltip">
                <span class="text">Click to zoom</span>
                <span class="tooltip-icon"></span>
            </div>
            <div class="{{templates.navIcons.main.prev}} amp-js-nav main-container-prev"></div>
            <div class="{{templates.navIcons.main.next}} amp-js-nav main-container-next"></div>
        </div>
    </div>
    <div class="nav-container">
        {{renderPartial 'nav-container-list' items=items templates=templates locale=locale}}
        <div class="{{templates.navIcons.nav.prev}} amp-js-nav nav-container-prev"></div>
        <div class="{{templates.navIcons.nav.next}} amp-js-nav nav-container-next"></div>
    </div>
</div>
